/* 

------------- SPACING SYSTEM -------------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px /400px /500px 

 */


/* -------------------------- GLOBAL STYLES  -------------------------- */

:root {

  /* FONT FAMILY */
  --f-family: Inter, "Inter UI", Helvetica, Arial, sans-serif;

  /* FONT WEIGHT */
  --f-weight-light: 300;
  --f-weight-regular: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;

  /* COLORS */
  --color-mirage: #171c24;
  --color-shark: #272a2f;
  --color-oslo-gray: #868b95;
  --color-heather: #bec7d5;
  --color-pale-sky: #697384;
  --color-catskill-white: #ecf0f6;
  --color-dodger-blue: #3880ff;
  --color-dodger-blue-light: #5a96ff;
  --color-gull-gray: #a1aab8;
  --color-white-lilac: #f8f8fc;
  --color-cadet-blue: #abb2bf;

  --c-carbon-0: #eef1f3;
  --c-carbon-10: #d7dde2;
  --c-carbon-20: #b4bcc6;
  --c-carbon-30: #98a2ad;
  --c-carbon-40: #7d8894;
  --c-carbon-50: #677483;
  --c-carbon-60: #556170;
  --c-carbon-70: #434f5e;
  --c-carbon-80: #35404e;
  --c-carbon-90: #222d3a;
  --c-carbon-100: #03060b;

  /* TIME */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--f-family);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ----- COMPONENTS ----- */

.btn {
  display: flex;
  align-items: center;
  background-color: var(--color-catskill-white);
  padding: 9px 10px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 13px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-pale-sky);
  transition: background-color .3s ease;

  &:hover {
    background-color: #e3e9f3;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* prevent line breaks */
  border: 0;
}

/* ------ SECTIONS ------ */

/* --- COMPANY --- */

.company-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .35em;
  height: 56px;
  background: linear-gradient(90deg, #440f14, #5e1219 15%, #000 35%, #000 45%, #5e1219 85%, #440f14);
  font-size: 16px;
  color: #fff;
}

.highlight {
  color: #f24c58;
  transition: color .3s ease;
}

.company-banner:hover .highlight {
  color: #f9838c;
}

.company-banner::after {
  content: " →";
  transition: transform 0.3s ease;
}

.company-banner:hover::after {
  transform: translateX(.125em);
}

/* --- HEADER --- */

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  z-index: 1;
}

.ui-container {
  display: flex;
  align-items: center;
  max-width: 1152px;
  width: 95%;
  height: 63px;
  margin: 0 auto;
  /* padding: 12px 30px; */
}

/* LOGO */

.logo-version-container {
  display: flex;
  align-items: center;
}

.logo-main-link {
  margin-right: 10px;
}

.logo-main {
  display: block;
  /* Browsers reserve a small extra space below inline images to align them with text baselines (as if text descenders like “g”, “y” might appear there).  for to become img into flex items */
}

.version {
  background-color: var(--color-catskill-white);
  padding: 1px 5px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-oslo-gray);
}

/* SEARCH */

.search-container {
  flex: 1;
  padding: 0 60px;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 16px;
  height: 16px;
}

.search-input {
  width: 100%;
  background-color: #f6f7f9;
  padding: 10px 10px 10px 30px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--f-weight-medium);
  height: 39px;

  &::placeholder {
    color: var(--color-heather);
  }
}

/* NAV */

nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.link-item {
  font-size: 13px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-pale-sky);
  transition: color .3s ease;

  &:hover:not(.link-active) {
    color: var(--color-shark);
  }
}

.link-active {
  color: var(--color-heather);
  cursor: default;
}

.link-item-last {
  display: flex;
  align-items: baseline;
  gap: 6px;
  position: relative;
}

.square-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ecf0f6;
  border-radius: 1px;
}

.arrow-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, 10%);
  transition: transform .3s ease;
}

.link-item-last:hover .arrow-icon {
  transform: translate(55%, -5%);
}


.download-link {
  margin-left: 30px;
}

.download-icon {
  margin-right: 6px;
}

/* ----- MAIN SECTION ----- */

main {
  padding-top: 9.6rem;
}

/* --- HERO SECTION --- */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 95%;
  max-width: 650px;
  margin: 0 auto 40px;
  text-align: center;
}

.hero-heading {
  font-size: 4.8rem;
  line-height: 5.4rem;
  font-weight: var(--f-weight-bold);
  color: var(--color-mirage);

  strong {
    font-weight: inherit;
  }
}

.highlight-hero-heading {
  color: var(--c-carbon-50);
}

.hero-paragraph {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: var(--f-weight-regular);
  color: #3c4b62;
}

.hero-paragraph-anchor {
  border-bottom: 1px solid transparent;
  line-height: 2rem;
  font-weight: var(--f-weight-regular);
  color: var(--color-dodger-blue);
  transition: border-color .3s ease;

  &:hover {
    border-bottom-color: var(--color-dodger-blue-light);
  }
}


/* ----- ICON LIST ----- */

.icon-list {
  margin-bottom: 100px;
}

/* ICON LIST SEARCH */

.icon-list-search-container {
  position: relative;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
}

.icon-list-search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.icon-list-search-input {
  width: 100%;
  background-color: white;
  padding: 20px 20px 20px 50px;
  border: 0;
  border-radius: 6px;
  outline: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--f-weight-regular);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);

  &::placeholder {
    color: #BEC7D5;
  }

  &:focus {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }
}

/* ICON LIST WRAPPER */

.icon-list-wrapper {
  padding-top: 90px;
}

/* ICON LIST HEADER */

.icon-list-header-container {
  /* position: sticky;
  top: 58px; */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.icon-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  width: 90%;
  height: 52px;
  margin: 0 auto 14px;
  background-color: #fff;
}

.icon-list-header-heading {
  font-size: 16px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-gull-gray);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-item {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  font-size: 13px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-dodger-blue);
  opacity: .5;
  transition: opacity .3s ease;

  &:hover:not(.toggle-item-active) {
    opacity: 1;
    cursor: pointer;
  }
}

.toggle-item-active {
  padding-bottom: 2px;
  border-bottom-color: var(--color-dodger-blue);
  opacity: 1;
}

/* ICON RESULTS */

.icon-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  gap: .8rem;
  width: min(90%, 650px);
  margin: 0 auto;
  padding-bottom: 5rem;
}

.grid-span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 300ms ease, transform .15s ease;

  &:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.08);
      transform: scale(1.05);
  }
}

.img-grid {
  height: 32px;
  width: 32px;
}

/* FOOTER */

footer {
  background-color: var(--color-white-lilac);
}

.ui-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(95%, 1152px);
  margin: 0 auto;
  padding: 40px 0;
}

.open-source-img {
  width: 50%;
}

.footer-legal {
  font-size: 10px;
  line-height: 28px;
  font-weight: var(--f-weight-regular);
  color: var(--color-cadet-blue);
}

.footer-menu {
  display: flex;
  gap: 18px;
}

.footer-menu a {
  font-size: 11px;
  font-weight: var(--f-weight-semibold);
  color: var(--color-gull-gray);
}